<div class="row">

  <div class="col-lg-4 col-md-6 mb-4">
    <app-course [course]="{
    title: 'angular workshop',
    imgUrl: 'assets/angular-logo.png',
    price: 50,
    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!'
  }"
    (courseSelected)="onCourseSelection($event)"
    ></app-course>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <app-course [course]="{
    title: 'angular basics',
    imgUrl: 'assets/angular-logo.png',
    price: 60,
    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!'
  }"></app-course>
  </div>

</div>
