<div class="card h-100"
     appHighlightable
     [appHighlightableClass]="'shadow'"
>
  <a href="#"><img class="card-img-top" [src]="course.imgUrl" alt=""></a>
  <div class="card-body">
    <h4 class="card-title">
      <a href="#" (click)="onClick($event)">{{course.title | titlecase }}</a>
    </h4>
    <h5>{{course.price | currency : 'EUR' }}</h5>
    <p class="card-text">{{course.description | ellipsis: 50 }}</p>
  </div>
  <div *ngIf="!editable" class="card-footer">
    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
  </div>
  <div *ngIf="editable" class="card-footer">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-primary">Edit</button>
        <button type="button" class="btn btn-outline-danger">Remove</button>
    </div>
</div>
</div>
