<!-- <div class="card h-100" 
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [ngClass]="inFocus ? 'shadow': ''"
> -->
<div class="card h-100" 
  appHighlightable [appHighlightableClass]="'shadow-lg'"
>
  <a href="#"><img class="card-img-top" [src]="course.imgUrl" alt=""/></a>
  <div class="card-body">
    <h4 class="card-title">
      <a href="#" (click)="onClick($event)">{{ course.title | titlecase }}</a>
    </h4>
    <h5>{{ course.price | currency : 'USD' }}</h5>
    <p class="card-text">{{ course.description | ellipsis : 70 : '...' }}</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
  </div>
</div>
